<html>
	<head>
		<title>Form</title>
        <link rel="stylesheet" href="style.css">
	</head>
	<body>
        <form action="" method="post">
            <fieldset>
                <legend>Personal Information</legend>
                <label for="firstname">First Name: </label>
                <input type="text" name="firstname" class="a1">
            
                <label for="midname">Middle Name:</label> 
                <input type="text" name="midname" class="a1">

                <label for="lastname">Last Name:</label>
                <input type="text" name="lastname" class="a1">
                
                <br><br>
                <label for="gender">Gender: </label>
                <input type="radio" name="gender" value="male">Male
                <input type="radio" name="gender" value="female">Female
                <input type="radio" name="gender" value="others">Others

                <br><br>
                <label for="dob">Date Of Birth:</label>
                <input type="date" name="dob">

                <br><br>
                <label for="email">Email:</label>
                <input type="email" name="email" class="a2">

                <label for="contact">Contact:</label>
                <input type="text" name="contact" class="a1">
            </fieldset>
            
            
           
           <fieldset>
               <legend>Contact Details</legend>
                <h4>Temporary Address</h4>
                <label for="province">Province:</label>
                <select name="province">
                    <option value="select">select</option>
                    <option value="Province 1">Province 1</option>
                    <option value="Province 2">Province 2</option>
                    <option value="Bagmti">Bagmati</option>
                    <option value="Gandaki">Gandaki</option>
                    <option value="Lumbini">Lumbini</option>
                    <option value="Karnali">Karnali</option>
                    <option value="Sudurpashchim">Sudurpashchim</option>
                </select>

                <br><br>
                <label for="district">District:</label>
                <input type="text" name="district" class="a1">

                <label for="muncipality">Muncipality:</label>
                <input type="text" name="muncipality" class="a1">

                <label for="ward">Ward:</label>
                <input type="text" name="ward" class="a1">
                <br><br><hr>

                <h4>Permanent Address</h4>
                <label for="province">Province:</label>
                <select name="province">
                    <option value="select">select</option>
                    <option value="Province 1">Province 1</option>
                    <option value="Province 2">Province 2</option>
                    <option value="Bagmti">Bagmati</option>
                    <option value="Gandaki">Gandaki</option>
                    <option value="Lumbini">Lumbini</option>
                    <option value="Karnali">Karnali</option>
                    <option value="Sudurpashchim">Sudurpashchim</option>
                </select>

                <br><br>
                <label for="district">District:</label>
                <input type="text" name="district" class="a1">

                <label for="muncipality">Muncipality:</label>
                <input type="text" name="muncipality" class="a1">

                <label for="ward">Ward:</label>
                <input type="text" name="ward" class="a1">
           </fieldset>


           <fieldset>
               <legend>Guardian Info</legend>
               <label for="fname">Father's Name</label>
                <input type="text" name="fathername" class="a1">

               <label for="occupation">Occupation:</label>
               <input type="text" name="occupation" class="a1">

               <label for="contact">Phone:</label>
               <input type="text" name="contact" class="a1">

               <br><br>
               <label for="fname">Mother's Name</label>
               <input type="text" name="mname" class="a1">

               <label for="occupation">Occupation:</label>
               <input type="text" name="occupation" class="a1">

               <label for="contact">Phone:</label>
               <input type="text" name="contact" class="a1">

               <br><br>
               <label for="fname">Guardian Name</label>
               <input type="text" name="gname" class="a1">

               <label for="occupation">Occupation:</label>
               <input type="text" name="occupation" class="a1">

               <label for="contact">Phone:</label>
               <input type="text" name="contact" class="a1">
           </fieldset>

           <fieldset>
               <legend>Education</legend>
            <!-- school -->
               <label for="sname">School Name:</label>
               <input type="text" name="sname" class="a2">
               <br><br>
               <label for="address">Address:</label>
               <input type="text" name="address" class="a1">
               <label for="gpa">GPA:</label>
               <input type="text" name="gpa" class="a1">
               <label for="pass">Passed Year:</label>
               <input type="text" name="pass" class="a1">
            <br><br><hr><br>
               <!-- college -->
               <label for="sname">College Name:</label>
               <input type="text" name="sname" class="a2">
               <br><br>
               <label for="address">Address:</label>
               <input type="text" name="address" class="a1">
               <label for="gpa">GPA:</label>
               <input type="text" name="gpa" class="a1">
               
               <br><br>
               <label for="pass">Stream:</label>
               <input type="text" name="stream" class="a1">
               <label for="pass">Program:</label>
               <input type="text" name="program" class="a1">
               <label for="pass">Passed Year:</label>
               <input type="text" name="pass" class="a1">
           </fieldset>
           <br>
           <input type="submit" value="submit" name="submit">
           <input type="reset" value="reset" name="reset">
        </form>        
    </body>
</html>